body{
    background-color: #FFDADA;
    font-family: cursive;
}
h1{
    text-align: center;
    margin-top: 5rem;
    font-weight: bold;
    font-size: 3rem;
    color: #7D6E83;
}
.center{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    padding: 9px 25px;
    font-size: 1rem;
}
input:focus{
    border: none;
    outline: none;
}
button{
    background-color: #7D6E83;
    padding: 6px;
    border: none;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 700;
    font-family: cursive;
    cursor: pointer;
}